body {
  font-size: 16px;
  color: #333;
  letter-spacing: 1px;
  background-color: #fff;
  font-family: "Lora", sans-serif;
}

.navbar {
  box-shadow: 2px 2px 5px #1e272e;
  opacity: 0.8;
  background: white;
}

#slides {
  max-height: 1200px;
  background-color: #000;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4);
}

.slides-container img {
  background-position: bottom !important;
}

.slides-navigation {
  z-index: 6;
}

.slides-navigation .prev,
.slides-navigation .next {
  width: 47px;
  height: 47px;
  background-size: cover;
  background-repeat: no-repeat;
}

.slides-navigation a.prev {
  left: 20px;
  background-image: url(../img/icons/prev.png);
}

.slides-navigation a.next {
  right: 20px;
  background-image: url(../img/icons/next.png);
}

.titleMessage {
  position: absolute;
  width: 100%;
  height: 250px;
  top: 50%;
  z-index: 5;
  text-align: center;
  margin-top: -125px;
}

.titleMessage .heading p {
  color: #fff;
  text-shadow: 0px, 2px, 5px, rgba(0, 0, 0, 0.4);
  font-weight: 100;
  letter-spacing: 7px;
}

.titleMessage .heading .main {
  font-size: 100px;
}

.titleMessage .heading .sub {
  font-size: 50px;
}

.aboutImg {
  max-width: 100%;
}

#portfolio-banner,
#photo-banner,
#footer {
  background-color: #1e272e;
  color: #fff;
}

#navigation {
  background-color: #1e272e;
  z-index: 100;
  font-size: 125%;
}

#navigation .navbar-brand {
  font-size: 200%;
}

#navigation li {
  color: #fff;
  padding: 0 10px;
}

.loader {
  width: 100%;
  height: 100%;
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

.loader .inner {
  width: 100%;
  height: 100%;
  background: url(../img/37.gif) center center no-repeat;
}

#bio {
  font-size: 20px;
}

.slides-container {
  margin: 0px auto;
}

#portfolio a {
  text-decoration: none;
  color: #000;
}

@media (max-width: 768px) {
  #slides {
    max-height: 500px;
  }

  .aboutImg {
    height: 500px;
  }

  .heading .main {
    font-size: 75px !important;
    margin-top: 50px;
  }

  .heading .sub {
    display: none;
  }

  #photos .photo {
    padding: 10px;
  }

  #bio {
    font-size: 1.25rem;
  }
}
